<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
</head>

<body>
inde页面2999999




    <script>
      // $.ajax({
      //     type: "GET",
      //     url: "http://127.0.0.1:3000/home/blog",
      //     dataType: "json",
      //     data: {
      //         id:1001,
      //         type: 2,
      //         level: 94,
      //         lesson: 1360,
      //         question_flag: 2,
      //         obj:[1,2,3]
      //     },
      //     success: function (res) {
      //         // alert('成功');
      //         console.log(res)
      //     },
      //     error: function () {
      //         alert("请求错误");
      //     }
      // })
  </script>
</body>

</html>