<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <script src="./js/index.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <title>前后端分离基于数据库的增删改查</title>
</head>
<body>
    <h2>前后端分离——基于数据库表的增删改查</h2>
    <div class="main">
        <div class="title">
            <span>Id</span>
            <span>Title</span>
            <span>Small-Title</span>
            <span>timer</span>
            <span>zuozhe</span>
            <span>concent</span>
        </div>
        <div class="concent-box">
            <!-- <p class="concent">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
        </p> -->
        </div>
        
        
    </div>
    <div class="add-mark-box">
        <div class="add-mark">
            <p class="add-connect"><span>Id：</span><input disabled="disabled" class="add-input" type="text" value="id 逻辑主键 自增长 禁止输入" style="cursor: no-drop"></p>
            <p class="add-connect"><span>Title：</span><input class="add-input" type="text" placeholder="必填，例 vue"></p>
            <p class="add-connect"><span>Small-Title：</span><input class="add-input" type="text" placeholder="必填，例 vue的介绍"></p>
            <p class="add-connect"><span>timer：</span><input class="add-input" type="text" placeholder="可不填，例 2018/01/28"></p>
            <p class="add-connect"><span>zuozhe：</span><input class="add-input" type="text" placeholder="必填，例 王文健"></p>
            <p class="add-connect"><span>concent：</span><input class="add-input" type="text" placeholder="必填，例 vue主要内容"></p>
            <div class="button">
                <span class="btn-close">取消</span>
                <span class="btn-on">确认</span>
            </div>
        </div>
    </div>
</body>
</html>