<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <script src="./js/index.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <title>前后端分离基于数据库的增删改查</title>
</head>
<body>
    <h2>前后端分离——基于数据库表的增删改查</h2>
    <div class="main">
        <div class="title">
            <span>Id</span>
            <span>Title</span>
            <span>Small-Title</span>
            <span>timer</span>
            <span>zuozhe</span>
            <span>concent</span>
        </div>
        <div class="concent-box">
            <!-- <p class="concent">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
        </p> -->
        </div>
        
        
    </div>
</body>
</html>